@page "/Cull"

@inject ISnackbar _snackbar

<h3>Cull</h3>

@code {

    private void RemoveIdea(Idea idea)
    {
        throw new NotImplementedException();
    }

    private void CheckRequirements()
    {
        throw new NotImplementedException();
    }

    private void UndoSnackbar(Idea idea)
    {
        throw new NotImplementedException();
    }

    private void CompleteSnackbar()
    {
        throw new NotImplementedException();
    }
}